com.acme.api.ordering/src/main/app/Ordering.System.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    
    
    <apikit:config name="Ordering.System-config" raml="Ordering.System.raml" consoleEnabled="true" consolePath="console" doc:name="Router"/>
    <flow name="Ordering.System-main">
        <http:listener config-ref="http-lc-0.0.0.0-8081" path="${apipath}" doc:name="HTTP"/>
        <apikit:router config-ref="Ordering.System-config" doc:name="APIkit Router"/>
        <exception-strategy ref="Ordering.System-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="get:/Orders/{OrderId}:Ordering.System-config">
        <set-variable variableName="OrderId" value="#[message.inboundProperties.'http.uri.params'.OrderId]" doc:name="Set Order Id"/>
		 <flow-ref name="ordering.DAL.Order" doc:name="ordering.DAL.Order"/>

    </flow>

    <flow name="get:/Orders/{OrderId}/OrderItems:Ordering.System-config">
        <set-variable variableName="OrderId" value="#[message.inboundProperties.'http.uri.params'.OrderId]" doc:name="Set Order Id for Order Item"/>
        <flow-ref name="ordering.DAL.OrderItems" doc:name="ordering.DAL.OrderItems"/>

    </flow>
    <apikit:mapping-exception-strategy name="Ordering.System-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <logger level="INFO" doc:name="Logger"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <logger level="INFO" doc:name="Logger"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <logger level="INFO" doc:name="Logger"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <logger level="INFO" doc:name="Logger"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
